@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* body {
    background: #ff900e1a;
} */

.primary-btn {
    color: #fff;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.hide {
    display: none;
}

/* Header Styles */
.header {
    background-color: #ff900e1a;
}

.header .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 50px 30px 0 30px;
    margin: 0 auto;
    max-width: 1440px;
}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    white-space: nowrap;
}

.header .container nav ul {
    display: flex;
}

.header .container nav ul li {
    padding: 0 17px;
    list-style: none;
}

.header .container nav ul li a {
    color: #424242;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    white-space: nowrap;
}

/* Banner Styles */
.banner {
    background-color: #ff900e1a;
}

.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 116px 30px 45px 30px; /* Try Margin After*/
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    max-width: 862px;
    text-align: center; 
    margin-bottom: 36px;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    max-width: 862px;
    text-align: center;
    margin-bottom: 32px;
}

.banner-btn  {
    margin-bottom: 50px;
}

.banner-image img {
    width: 100%;
}

/* Quick List Features Styles */
.ql-features .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin: 85px 30px 0 30px;
}

.ql-features .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.ql-features .images .image {
    height: 342px;
}

.ql-features .images img {
    /* width: 100%; */
    max-width: 342px;
}

.ql-features .details {
    width: 537px;
}

.ql-features .details-title {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;  
    margin-bottom: 24px;
}

.ql-features .details-title span {
    font-weight: 700;
}

.ql-features .details-title span.dt-c-1 {
    color: #131313;
}

.ql-features .details-title span.dt-c-2 {
    color: #FF900E;
}

.ql-features .details-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

/* Features Styles */
.features .container {
    display: flex;
    justify-content: center;
    gap: 146px;
    margin: 130px 30px 0 30px;
}

.features .details{
    max-width: 586px;
}

.features .details-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    border-left: 5px solid #FF900E;
    padding-left: 22px;
    margin-bottom: 24px;
}

.features .details-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.features-items-container .feature {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
}

.features-items-container .feature .feature-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.features-items-container .feature .feature-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.features .image {
    position: relative;
    max-width: 708px;
    max-height: 982px;
}

.features .feature-btn {
    position: absolute;
    bottom: -72px;
    left: -64px;
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    padding: 42px 46px;
}

.features .feature-btn p {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

/* Some Facts Styles */
.some-facts {
    margin: 0 auto;
    max-width: 1500px;
}

.some-facts .container {
    margin: 130px 30px 0 30px;
}

.some-facts .details {
    max-width: 542px;
}

.some-facts .details-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 24px;
}

.some-facts .details-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.sf-items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 124px;
    margin-top: 100px;
}

.sf-items-container .item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 46px 36px 60px 36px;
    text-align: center;
}

.sf-items-container .item img {
    margin-bottom: 10px;
}

.sf-items-container .item h2.count {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}

.sf-items-container .item h2.title {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* Explore Styles */
.explore .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin: 180px 30px 0 30px;
}

.explore .image {
    max-width: 525px;
}

.explore .image img {
    /* width: 100%; */
    max-width: 525px;
    border-radius: 7px;
}

.explore .details {
    width: 537px;
}

.explore .details-title {
    color: #131313;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;  
    margin-bottom: 24px;
}

.explore .details-title span {
    font-weight: 700;
}

.explore .details-title span.dt-c-1 {
    color: #727272;
}

.explore .details-title span.dt-c-2 {
    color: #FF900E;
}

.explore .details-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.explore .explore-btn {
    font-weight: 500;
}

.explore .explore-btn img {
    position: relative;
    top: 2px;
    padding-left: 4px;
}

/* Our Sponsors */
.our-sponsors .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 30px 0 30px;
}

.our-sponsors .details {
    max-width: 542px;
    text-align: center;
}

.our-sponsors .details-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 24px;
}

.our-sponsors .details-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.os-items-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 154px;
    margin-top: 50px;
}

.os-items-container .item img {
    width: 100%;
    max-width: 152px;
    filter: grayscale(100%);
}

/* Footer Styles */
.footer {
    display: flex;
    justify-content: center;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1440px;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 130px 30px 216px 30px;
}

.footer .container p {
    color: #424242;
    font-size: 20px;
    line-height: 26px;
    padding: 0 24px;
    text-align: center;
}


/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width: 576px) {
    .header .container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header .container nav ul {
        flex-direction: column;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    /* .header .container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header .container nav ul {
        flex-direction: column;
    } */
}